<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html"-->
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../../bower_components/vaadin-item/vaadin-item.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="interfaz-transferencia">
  <template>
        <style>
            :host {
                display: block;
            }

            div.a {
                position: absolute;
                width: 400px;
                height: 200px;
                left: 20px;

            }

            div.b {
                position: absolute;
                width: 200px;
                left: 315px;
                position: relative;
                padding-top: 0;

            }

            div {
                width: 100%;
                padding-top: 60px;
                padding-left: 400px;
                padding-bottom: 20px;
            }

            vaadin-text-field {
                width: 375px;
            }

            .titulo {
                min-height: 70px;
                font-size: 20px;
            }

            .principal {
                border: 1px solid grey;
                background: lavender;

            }


            td.a {
                width: 1%
            }

            td.b {

                width: 99%;

            }

        </style>

        <table class="principal">
            <tr>
                <td class="a">
                    <paper-icon-button src="https://s3-eu-west-1.amazonaws.com/proyectofinaltech/images/money-exchange.png" title="Cliente"></paper-icon-button>
                </td>
                <td class="b">
                    <vaadin-item class="titulo">Información de la Transferencia</vaadin-item>
                </td>
            </tr>
        </table>
        <div>
            <table>

                <tr>
                    <td>
                        <vaadin-item>Iban origen:</vaadin-item>
                    </td>
                    <td>
                        <vaadin-text-field value={{iban::input}} disabled></vaadin-text-field>
                    </td>

                </tr>

                <tr>
                    <td>
                        <vaadin-item>Iban destino:</vaadin-item>
                    </td>
                    <td>
                        <vaadin-text-field value={{iban_destino::input}} required error-message="Campo Obligatorio"></vaadin-text-field>
                    </td>

                </tr>
                <tr>
                    <td>
                        <vaadin-item>Importe:</vaadin-item>
                    </td>
                    <td>
                        <vaadin-text-field prevent-invalid-input pattern="[0-9]*" value={{importe::input}} required error-message="Campo Obligatorio"></vaadin-text-field>
                    </td>

                </tr>
                <tr>
                    <td>
                        <vaadin-item>Concepto:</vaadin-item>
                    </td>
                    <td>
                        <vaadin-text-field value={{concepto::input}} required error-message="Campo Obligatorio"></vaadin-text-field>
                    </td>

                </tr>

            </table>
        </div>

        <div class="b">
            <vaadin-button theme="primary" on-click="volvertransferencia">Volver</vaadin-button>
            <vaadin-button theme="primary" on-click="realizartransferencia">Aceptar</vaadin-button>
        </div>
  </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class InterfazTransferencia extends Polymer.Element {
            static get is() {
                return 'interfaz-transferencia';
            }
            static get properties() {
                return {
                    iban: {
                        type: String
                    },
                    iban_destino: {
                        type: String
                    },
                    importe: {
                        type: String
                    },
                    concepto: {
                        type: String
                    }
                }
            }


            dataoperacion(operacion, cuenta) {
                this.iban = cuenta;
                this.iban_destino = '';
                this.importe = 0;
                this.concepto = '';
            }

            realizartransferencia(e) {
                console.log("Pulsando el boton Aceptar de enviar transferecia");

                this.dispatchEvent(
                    new CustomEvent(
                        "realizartransferencia", {
                            "detail": {
                                "transferencia": {
                                    iban_origen: this.iban,
                                    iban_destino: this.iban_destino,
                                    importe: this.importe,
                                    latitud: '40.4799938',
                                    longitud: '-3.7074780000000374',
                                    saldo: '',
                                    concepto: this.concepto
                                }
                            },
                        }
                    ) //  new CustomEvent

                ); //  this.dispatchEvent(
            } //enviardatos(e)


            volvertransferencia(e) {

                this.dispatchEvent(
                    new CustomEvent(
                        "volvertransferencia", {
                            "detail": {

                            }
                        }
                    ) //  new CustomEvent

                ); //  this.dispatchEvent(
            } //

        }

        window.customElements.define(InterfazTransferencia.is, InterfazTransferencia);
    </script>
</dom-module>
