<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../../bower_components/vaadin-item/vaadin-item.html">
<link rel="import" href="../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">



<dom-module id="interfaz-cuentas" style="position: relative; top: 60px;">
  
<template is="dom-bind">
  <style is="custom-style">
      
    #interfaz-cuentas {
          position: relative;
            top: 60px;
    }
      
    vaadin-grid#grid {

      font-family: Roboto, sans-serif;
      --divider-color: rgba(0, 0, 0, var(--dark-divider-opacity));

      --vaadin-grid-cell: {
        padding: 0;
      };

      --vaadin-grid-header-cell: {
        height: 64px;
        color: rgba(0, 0, 0, var(--dark-secondary-opacity));
        font-size: 12px;
      };

      --vaadin-grid-body-cell: {
        height: 48px;
        color: rgba(0, 0, 0, var(--dark-primary-opacity));
        font-size: 13px;
      };

      --vaadin-grid-body-row-hover-cell: {
        background-color: var(--paper-grey-200);
      };

      --vaadin-grid-body-row-selected-cell: {
        background-color: var(--paper-grey-100);
      };

    }

    vaadin-grid#grid .cell {
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 56px;
    }

    vaadin-grid#grid .cell.last {
      padding-right: 24px;
    }

    vaadin-grid#grid .cell.numeric {
      text-align: right;
    }

    vaadin-grid#grid paper-checkbox {
      --primary-color: var(--paper-indigo-500);
      margin: 0 24px;
    }

    vaadin-grid#grid vaadin-grid-sorter {
      --vaadin-grid-sorter-arrow: {
        display: none !important;
      };
    }

    vaadin-grid#grid vaadin-grid-sorter .cell {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    vaadin-grid#grid vaadin-grid-sorter iron-icon {
      transform: scale(0.8) translateZ(0);
      transition: all 0.3s;
    }

    vaadin-grid#grid vaadin-grid-sorter:not([direction]) iron-icon {
      color: rgba(0, 0, 0, var(--dark-disabled-opacity));
    }

    vaadin-grid#grid vaadin-grid-sorter[direction] {
      color: rgba(0, 0, 0, var(--dark-primary-opacity));
    }

    vaadin-grid#grid vaadin-grid-sorter[direction=desc] iron-icon {
      transform: scale(0.8) rotate(180deg) translateZ(0);
    }
      
      td.a {
              width: 1%
            } 
          td.b {
                
                width: 900px;
            
            } 
          
          vaadin-item.cuentas {
              min-height :75px;
              font-size : 20px;
          }
          table {
             border: 1px solid grey;
              background: lavender;
              width:  100%;

          }
          
        table.titular {
            width:  100%;
            background: white;
        }
        td.titulo {
          width: 50%;
        }
        
      vaadin-item {
          font-size : 15px;
          
      }

  </style>
    
    <table>
        <tr>
            <td class="a">     
                <paper-icon-button src="https://s3-eu-west-1.amazonaws.com/proyectofinaltech/images/cash.png" title="Cliente"></paper-icon-button>
            </td>
            <td><vaadin-item class="cuentas">Cuentas Personales</vaadin-item></td>
            <td><vaadin-button theme="secondary" on-click="crearcuenta">Crear Cuenta</vaadin-button></td>
        </tr>
    </table>
    
    <table class="titular">
        <tr>
            <td class="titulo"><vaadin-item>Cliente:  <b>[[titularcompleto]]</b></vaadin-item></td>
            <td class="titulo"><vaadin-item>Saldo Total:  <b>[[number_format(saldoTotal,2)]] €</b></vaadin-item></td>    
        </tr>
    </table>
    
    
    <x-array-data-source items="{{accounts}}"></x-array-data-source>      
    <vaadin-grid aria-label="Cuentas" id="grid" active-item="{{activeItem}}" items="[[accounts]]"  size="200">

    
        
      <vaadin-grid-column width="100px" flex="0">
        <template class="header">
             <div class="cell">Iban</div></template>
          <template><div class="cell">[[item.iban]]</div></template>
      </vaadin-grid-column>

      <vaadin-grid-column>
        <template class="header">
            <div class="cell">Saldo</div></template>
          <template><div class="cell">[[number_format(item.total,2)]] €</div></template>
      </vaadin-grid-column>
    </vaadin-grid>  

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class InterfazCuentas extends Polymer.Element {
      static get is() { return 'interfaz-cuentas'; }
      static get properties() {
        return {
          accounts : {
            type: Array
          },
          activeItem: {
            observer: '_activeItemChanged'
          },
          titularcompleto : {
            type: String
          },
          saldoTotal : {
            type :Number,
            computed:'calcularSaldoTotal(accounts.*)'
            }
        };
      }

      pintarcuentas(data,titular) {
        console.log("Metodo pintar cuentas");
        console.log("data: " + JSON.stringify(data.cuentas));
        console.log("Nombre: " + titular);
        this.accounts=data.cuentas;
        this.titularcompleto=titular;
      }
        

      _activeItemChanged(item) {
          this.$.grid.selectedItems = item ? [item] : [];
          
          if((item!=[])&&(item!=null)) {
          
              this.dispatchEvent(
              new CustomEvent(
                "cuentaseleccionada",
                 {
                   "detail" : {
                     "cuenta" : item.iban
                   }
                 }
                ) //  new CustomEvent
             );//  this.dispatchEvent
          }
      } //_activeItemChanged
        
      crearcuenta(){
          console.log("Metodo crearcuenta");
          this.dispatchEvent(
              new CustomEvent(
                "crearcuenta",
                 {
                   "detail" : {
                   }
                 }
                ) //  new CustomEvent
             );//  this.dispatchEvent
      }
      
      calcularSaldoTotal(accounts) {
          var saldo_total=0;
          for(var i=0;i<this.accounts.length;i++){
              saldo_total+=parseInt(this.accounts[i].total);
              console.log("Saldo: "+this.accounts[i].total);
          }
          console.log("saldo_total: "+saldo_total);
          return(saldo_total);
      }
        
      number_format(amount, decimals) {

            amount += ''; // por si pasan un numero en vez de un string
            amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

            decimals = decimals || 0; // por si la variable no fue fue pasada

            // si no es un numero o es igual a cero retorno el mismo cero
            if (isNaN(amount) || amount === 0) 
                return parseFloat(0).toFixed(decimals);

            // si es mayor o menor que cero retorno el valor formateado como numero
            amount = '' + amount.toFixed(decimals);

            var amount_parts = amount.split('.'),
                regexp = /(\d+)(\d{3})/;

            while (regexp.test(amount_parts[0]))
                amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2');

            return amount_parts.join(',');
      }
      
        
    }

         

    window.customElements.define(InterfazCuentas.is, InterfazCuentas);
  </script>
</dom-module>
