<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-masked-input/paper-masked-input.html">
<link rel="import" href="../../bower_components/vaadin-button/vaadin-button.html">


<dom-module id="interfaz-login">
  <template>
    <style>
      html, body {
      margin: 0;
      font-family: 'Roboto', 'Noto', sans-serif;
      -webkit-font-smoothing: antialiased;
      background: #f1f1f1;
      max-height: 368px;
    }
    div.a{
      margin: auto;
      width: 40%;
      padding: 100px;
      border:1px solid #4285F4;
    
    }
    div.b {
        position: absolute;
        width: 300px;
        right: 355px;
        padding-top: 20px;
            
    } 
    </style>
    <br><br><br><br><br>
    
      

<!-- ***************************************************************-->
    <div class="a">
        <paper-input label="email" value="{{email::input}}" auto-validate pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ@.\s]*" error-message="No es una dirección de correo valida"></paper-input>
        <paper-masked-input label="password" error-message="La password debe contener solamente letras y numeros" auto-validate pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s]*" value="{{password::input}}"></paper-masked-input>
        <div class="b">
            <vaadin-button theme="primary" on-click="enviardatos" width=100%>Login</vaadin-button>
            <vaadin-button theme="primary" on-click="altanewuser" width>Registrate</vaadin-button>
        </div>
    </div>    
        
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class InterfazLogin extends Polymer.Element {
      static get is() { return 'interfaz-login'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          }
        };
      }

      enviardatos(e){
        console.log("Pulsando el boton");
        console.log(e);

        this.dispatchEvent(
          new CustomEvent(
            "enviardatos",
             {
               "detail" : {
                 "email" : this.email,
                 "password" : this.password
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(
      } //enviardatos(e)

      altanewuser(e){
        console.log("Pulsando el boton de new user");
        console.log(e);


        this.dispatchEvent(
          new CustomEvent(
            "altanewuser",
             {
               "detail" : {
                 "registro" : true
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(
      } //enviardatos(e)
      
       inicializardatos(){
        console.log("Inicializar datos login");
        this.email='';
        this.password='';
       }
    }

    window.customElements.define(InterfazLogin.is, InterfazLogin);
  </script>
</dom-module>
