<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-manager-operacion">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doOperacion"
      method="POST"
      url="http://localhost:3000/apitechu/v1/users/accounts/transactions"
      content-type="application/json"
      handle-as="json"
      headers='{{headers}}'
      on-response="manageAJAXResponse"
      on-error="showError">
      </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataManagerOperacion extends Polymer.Element {
      static get is() { return 'data-manager-operacion'; }
      static get properties() {
        return {
          headers: {
              type: Object,
              computed: 'getHeaders(customHeader)'
          },
          customHeader: {
               value: ''
          }
        };
      }

      getHeaders (customHeader) {
        return {'accesstoken': customHeader}
      }

      realizaroperacion(jwt,data) {
        console.log("Datos recibidos por el data manager operacion");
        console.log("jwt: " + jwt);
        console.log("Operacion: " + JSON.stringify(data));
        this.customHeader=jwt;
        this.$.doOperacion.body = JSON.stringify(data);
        this.$.doOperacion.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Respuesta recibida");
        console.log(data.detail.response.jwt);

        this.dispatchEvent(
          new CustomEvent(
            "resultado_operacion",
             {
               "detail" : {
                 "response" : data.detail.response
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(
      } //enviardatos(e)*/


      showError(e,error){
        console.log("Hubo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "gestionarerror",
             {
               "detail" : {
                 "error" : error.request.status,
                 "componente" : "dmoperacion"
               }
             }
          ) //  new CustomEvent

        );
      }

    }

    window.customElements.define(DataManagerOperacion.is, DataManagerOperacion);
  </script>
</dom-module>
