<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-manager-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v1/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
      </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataManagerLogin extends Polymer.Element {
      static get is() { return 'data-manager-login'; }
      static get properties() {
        return {
        };
      }

      consultalogin(data) {
        console.log("Datos recibidos por el data manager login");
        console.log(data);
        var loginData = {
           "email" : data.email,
           "pass" : data.password
        };
        console.log("logindata: " + JSON.stringify(loginData));
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Respuesta recibida");
        console.log(data.detail.response.jwt);

        this.dispatchEvent(
          new CustomEvent(
            "resultadologin",
             {
               "detail" : {
                 "jwt" : data.detail.response.jwt,
                  "email" : data.email
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(
      } //enviardatos(e)


      showError(e, error){
        console.log("Hubo un error");
        console.log("Error: "+ error.request);  
        console.log("Error: "+ error.request.status);
        this.dispatchEvent(
          new CustomEvent(
            "gestionarerror",
             {
               "detail" : {
                 "error" : error.request.status,
                 "componente" : "dmlogin"
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(
        
      }

    }

    window.customElements.define(DataManagerLogin.is, DataManagerLogin);
  </script>
</dom-module>
