<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html"-->
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../../bower_components/vaadin-item/vaadin-item.html">



<dom-module id="interfaz-operacion">
  <template>
    <style>
      :host {
        display: block;
      }
        
     div.a{
        position: absolute;
        width: 400px;
        height: 200px;
        left: 20px;
        
    }
    div.b {
            position: absolute;
            left: 320px;
            padding-top: 0;;
            
    } 
    vaadin-text-field {
        width: 375px;
    }
        
     div {
            width: 100%;
            padding-top: 60px;
            padding-left: 400px;
            padding-bottom: 20px;
        }
        
    .titulo {
      min-height :70px;
      font-size : 20px;
    }
        
    .principal {
        border: 1px solid grey;
        background: lavender;
            
    }
    td.a {
              width: 1%
            } 
    td.b {
                
                width: 99%;
            
            } 
    div {
            width: 100%
        }
    
    </style>
      
     <table class="principal">
        <tr>
            <td class="a">     
                <paper-icon-button src="../../images/money-exchange.png" title="Cliente"></paper-icon-button>
            </td> 
                <td class="b"><vaadin-item class="titulo">Información de la Operacion</vaadin-item>
            </td>
        </tr>
      </table>
      
      <div>
      <table>
          
        <tr>
            <td><vaadin-item>Iban origen:</vaadin-item></td>
            <td><vaadin-text-field value={{iban::input}} disabled ></vaadin-text-field></td>
        
        </tr>
        
        <tr>
            <td><vaadin-item>Importe: </vaadin-item></td>
            <td><vaadin-text-field prevent-invalid-input pattern="[0-9]*" value={{importe::input}} required 
                               error-message="Campo Obligatorio"></vaadin-text-field>
        </td>
        
        </tr>
    
          </table>
      </div>
    
            
        <div class="b">
            <vaadin-button theme="primary" on-click="volveroperacion">Volver</vaadin-button>
            <vaadin-button theme="primary" on-click="enviaroperacion">Aceptar</vaadin-button>
        </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class InterfazOperacion extends Polymer.Element {
      static get is() { return 'interfaz-operacion'; }
      static get properties() {
        return {
          iban : {
            type: String
          },
          importe : {
            type: String
          },
           datosoperacion: {
               type: Object,
                value: function() {
                return {
                    fecha:'',
                    iban:'',
                    descripcion:'',
                    tipo_operacion:'',
                    importe: 0,
                    latitud :'40.4799938',
                    longitud:'-3.7074780000000374',
                    saldo:0,
                    concepto:''
                };
            },
            selected : {
                type : String
            }
          }
        };
      }
    
        
     dataoperacion(operacion){
         this.datosoperacion.tipo_operacion=operacion.tipo_operacion;
         this.iban=operacion.iban;
         this.importe=0;
         console.log("Metodo datosoperacion: " + this.datosoperacion.importe);
     }

      enviaroperacion(e){
        console.log("Pulsando el boton Aceptar de enviar Operacion");
        this.datosoperacion.iban=this.iban;
        this.datosoperacion.importe=this.importe;
        if(this.datosoperacion.tipo_operacion=="1") {
            this.datosoperacion.descripcion="Ingreso";
        }else{
            this.datosoperacion.descripcion="Reintegro";
        }

        this.dispatchEvent(
          new CustomEvent(
            "enviaroperacion",
             {
               "detail" : {
                 "operacion" : this.datosoperacion
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(
      } //enviardatos(e)
        
        
      volveroperacion(e){

          this.dispatchEvent(
              new CustomEvent(
                "volveroperacion",
                 {
                   "detail" : {

                   }
                 }
              ) //  new CustomEvent

            );//  this.dispatchEvent(
      } //

    }

    window.customElements.define(InterfazOperacion.is, InterfazOperacion);
  </script>
</dom-module>
