<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-manager-transferencia">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doTransferencia"
      method="POST"
      url="http://localhost:3000/apitechu/v1/users/accounts/transferencia"
      content-type="application/json"
      handle-as="json"
      headers='{{headers}}'
      on-response="manageAJAXResponse"
      on-error="showError">
      </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataManagerTransferencia extends Polymer.Element {
      static get is() { return 'data-manager-transferencia'; }
      static get properties() {
        return {
          headers: {
              type: Object,
              computed: 'getHeaders(customHeader)'
          },
          customHeader: {
               value: ''
          }
        };
      }

      getHeaders (customHeader) {
        return {'accesstoken': customHeader}
      }

      realizar_transferencia(jwt,data) {
        console.log("Datos recibidos por el data manager operacion transferencia");
        console.log("jwt: " + jwt);
        console.log("transferencia: " + JSON.stringify(data));
        this.customHeader=jwt;
        this.$.doTransferencia.body = JSON.stringify(data);
        this.$.doTransferencia.generateRequest();
        console.log("Petición enviada");

      }
        
      manageAJAXResponse(data) {
        console.log("Respuesta recibida");
        console.log(data.detail.response.jwt);

        this.dispatchEvent(
          new CustomEvent(
            "resultado_transferencia",
             {
               "detail" : {
                 "response" : data.detail.response
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(
      }


      showError(e,error){
        console.log("Hubo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "gestionarerror",
             {
               "detail" : {
                 "error" : error.request.status,
                 "componente" : "dmtransferencia"
               }
             }
          ) //  new CustomEvent

        );
      }

    }

    window.customElements.define(DataManagerTransferencia.is, DataManagerTransferencia);
  </script>
</dom-module>
