
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">





<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<link rel="import" href="../interfaz-login/interfaz-login.html">
<link rel="import" href="../data-manager-login/data-manager-login.html">
<link rel="import" href="../interfaz-cuentas/interfaz-cuentas.html">
<link rel="import" href="../interfaz-operacion/interfaz-operacion.html">
<link rel="import" href="../interfaz-registro-user/interfaz-registro-user.html">
<link rel="import" href="../interfaz-movimientos/interfaz-movimientos.html">
<link rel="import" href="../interfaz-transferencia/interfaz-transferencia.html">
<link rel="import" href="../data-manager-registro-user/data-manager-registro-user.html">
<link rel="import" href="../data-manager-cuentas/data-manager-cuentas.html">
<link rel="import" href="../data-manager-operacion/data-manager-operacion.html">
<link rel="import" href="../data-manager-movimientos/data-manager-movimientos.html">
<link rel="import" href="../data-manager-transferencia/data-manager-transferencia.html">
<link rel="import" href="../data-manager-crear-cuenta/data-manager-crear-cuenta.html">
<link rel="import" href="../data-manager-user/data-manager-user.html">
<link rel="import" href="../data-manager-apikey/data-manager-apikey.html">
<link rel="import" href="../interfaz-mostrarmapa/interfaz-mostrarmapa.html">
<link rel="import" href="../interfaz-principal/interfaz-principal.html">


<link rel="import" href="../notificacion-error/notificacion-error.html">
<link rel="import" href="../notificacion-existo/notificacion-existo.html">






<dom-module id="orquestador-app">
    <template>

<custom-style>
  <style is="custom-style">
    html, body {
      margin: 0;
      font-family: 'Roboto', 'Noto', sans-serif;
      -webkit-font-smoothing: antialiased;
      background: #f1f1f1;
      max-height: 300px;
    }


    app-toolbar {
      background-color: #4285f4;
      color: #fff;
    }

    paper-icon-button {
      --paper-icon-button-ink-color: white;
    }

    paper-icon-button + [main-title] {
      margin-left: 24px;
    }

    app-header {
      @apply --layout-fixed-top;
      color: #fff;
      --app-header-background-rear-layer: {
        background-color: #ef6c00;
      };
    }
  </style>


</custom-style>



<app-header-layout condenses reveals effects="waterfall">
  <app-toolbar>
    <div main-title>Banco Tech-U</div>
    <template is="dom-if" if="{{!logado}}" restamp>
          <paper-icon-button src="https://s3-eu-west-1.amazonaws.com/proyectofinaltech/images/ico_user_504F4F.png" on-click="botonlogin"  title="Cliente"></paper-icon-button>
    </template>
    <template is="dom-if" if="{{logado}}" restamp>
          <paper-icon-button src="https://s3-eu-west-1.amazonaws.com/proyectofinaltech/images/ico_user_504F4F.png" title="Cliente"></paper-icon-button>
    </template>
    <paper-icon-button icon="close" on-click="logout"></paper-icon-button>

    <paper-progress value="10" indeterminate bottom-item></paper-progress>
  </app-toolbar>
</app-header-layout>

<app-drawer id="drawer" align="end"></app-drawer>

  <span hidden$="{{!principal}}">
      <interfaz-principal id="iprincipal"></interfaz-principal>
  </span>
        
  <span hidden$="{{!login}}">
    <interfaz-login id="ilogin" on-enviardatos="datalogin" on-altanewuser="newregistro"></interfaz-login>
    <data-manager-login id="dmlogin" on-resultadologin="resultadologin" on-gestionarerror="gestionarerror"></data-manager-login>
  </span>

    <span hidden$="{{!registro}}">
    <interfaz-registro-user id="inewuser" on-enviarusuario="dataUser" on-volver_newusuario="volver_user"></interfaz-registro-user>
    <data-manager-registro-user id="dmNewUser" on-resultadonewregistro="resultadoregistro" on-gestionarerror="gestionarerror"></data-manager-registro-user>
        
    </span>


    <span hidden$="{{!cuentas}}">
        <data-manager-user id="dmuser" on-resultado_user="imprimiruser" on-gestionarerror="gestionarerror"></data-manager-user>
        <data-manager-cuentas id="dmcuentas" on-resultadocuentas="imprimircuentas"></data-manager-cuentas>
        <interfaz-cuentas id="interfazcuentas" on-cuentaseleccionada="buscarmovimientos" on-gestionarerror="gestionarerror" on-crearcuenta="newcuenta"></interfaz-cuentas>
        <data-manager-movimientos id="dmmovimientos" on-resultado_movimientos="imprimirmovimientos" on-gestionarerror="gestionarerror"></data-manager-movimientos>
        <data-manager-crear-cuenta id="dmcrearcuenta" on-gestionarerror="gestionarerror" on-resultado_crearcuenta="resultado_newcuenta"></data-manager-crear-cuenta>
   </span>

    <span hidden$="{{!movimientos}}">
        <interfaz-movimientos id="interfazmovimientos" on-volvermovimientos="volver_movimientos" on-realizaringreso="imprimiroperacion" on-realizar_reintegro="imprimiroperacion" on-realizar_transferencias="imprimirtransferencia" on-movimientoseleccionado="buscarmapa"></interfaz-movimientos>
        <data-manager-apikey id="dmapikey" on-resultado_apikey="mostrarmapa" on-gestionarerror="gestionarerror"></data-manager-apikey>
    </span>
        
    <span hidden$="{{!mapa}}">
        <interfaz-mostrarmapa id="imostrarmapa"></interfaz-mostrarmapa>
    </span>


    <span hidden$="{{!operacion}}">
        <interfaz-operacion id="interfazoperacion" on-enviaroperacion="dataOperacion" on-volveroperacion="volver_operacion"></interfaz-operacion>
        <data-manager-operacion id="dmoperacion" on-resultado_operacion="resultadotransaccion" on-gestionarerror="gestionarerror"></data-manager-operacion>
    </span>

    <span hidden$="{{!transferencia}}">
        <interfaz-transferencia id="interfaztransferencia" on-realizartransferencia="dataTransferencia" on-volvertransferencia="volver_transferencia"></interfaz-transferencia>
        <data-manager-transferencia id="dmtransferencia" on-resultado_transferencia="resultadotransferencia" on-gestionarerror="gestionarerror"></data-manager-transferencia>
    </span>
        
    <span hidden$="{{!notificacionerror}}">
        <notificacion-error id="not_error"></notificacion-error>
   </span>
        
    <span hidden$="{{!notificacionexisto}}">
        <notificacion-existo id="not_existo"></notificacion-existo>
   </span>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class OrquestadorApp extends Polymer.Element {
            static get is() {
                return 'orquestador-app';
            }
            static get properties() {
                return {
                    jwt: {
                        type: String
                    },
                    login: {
                        type: Boolean,
                        value: false
                    },
                    nombre : {
                        type:String
                    },
                    latitud : {
                        type:String
                    },
                    longitud : {
                        type:String
                    },
                    registro: {
                        type: Boolean,
                        value: false
                    },

                    cuentas: {
                        type: Boolean,
                        value: false
                    },
                    operacion: {
                        type: Boolean,
                        value: false
                    },
                    movimientos: {
                        type: Boolean,
                        value: false
                    },
                    transferencia: {
                        type: Boolean,
                        value: false
                    },
                    notificacionerror: {
                        type: Boolean,
                        value: false
                    },
                    notificacionexisto: {
                        type: Boolean,
                        value: false
                    },
                    cuenta_seleccionada : {
                        type : String
                    },
                    logado : {
                        type: Boolean,
                        value: false
                    },
                    mapa : {
                        type: Boolean,
                        value: false
                    },
                     principal : {
                        type: Boolean,
                        value: true
                    }

                }
            }


            datalogin(e) {
                console.log("evento del login capturado por el orquestador");
                console.log(e);
                this.$.ilogin.inicializardatos();
                this.principal=false;
                this.login=true;
                this.$.dmlogin.consultalogin(e.detail);
            }

            resultadologin(e) {
                console.log("evento de respuesta del login capturado por el orquestador");
                console.log(e.detail);
                this.jwt = e.detail.jwt;
                console.log("JWT: " + this.jwt);
                this.$.dmuser.consultaruser(this.jwt);
            }

            dataUser(e) {
                console.log("evento de respuesta del registro  de usuario capturado por el orquestador");
                console.log("detail del registro de usuarios" + JSON.stringify(e.detail));
                this.$.dmNewUser.altanewuser(e.detail);
            }

            newregistro(e) {
                console.log("evento de new registro de usuario capturado por el orquestador");
                console.log("detail del new registro de usuarios" + JSON.stringify(e.detail));
                this.login = false;
                this.$.inewuser.inicializardatos();
                this.registro = e.detail.registro;

            }

            resultadoregistro(e) {
                console.log("evento capturado del datamanager new registro capturado por el orquestador");
                console.log("detail del new registro de usuarios" + JSON.stringify(e.detail));
                this.login = true;
                this.registro = false;
                this.$.not_existo.datanotificacion(e.detail,"Usuario creado con existo, por favor introduzcca las credenciales");
            }

            imprimircuentas(e) {
                console.log("evento capturado del datamanager cuentas capturado por el orquestador");
                console.log("detail del new registro de usuarios" + JSON.stringify(e.detail));
                this.$.interfazcuentas.pintarcuentas(e.detail,this.nombre);
                this.login = false;
                this.cuentas = true;
                this.logado=true;

            }

            dataOperacion(e) {
                console.log("evento capturado por el orquestador del interfazoperacion");
                console.log(e);
                this.$.dmoperacion.realizaroperacion(this.jwt, e.detail);
            }

            botonlogin(e) {
                this.$.ilogin.inicializardatos();
                this.login = true;
                this.cuentas = false;
                this.registro = false;
                this.movimientos = false;
                this.principal=false;
            }

            buscarmovimientos(e){
                console.log("evento capturado por el orquestador del buscarmovimientos");
                console.log(e.detail);
                console.log(e.detail.cuenta);
                this.cuenta_seleccionada=e.detail.cuenta;
                this.$.dmmovimientos.consultarmovimientos(this.jwt, e.detail.cuenta);
            }

            imprimirmovimientos(e) {
                console.log("evento capturado por el orquestador del imprimirmovimientos");
                console.log(e.detail,this.cuenta_seleccionada);
                this.$.interfazmovimientos.pintarmovimientos(e.detail,this.cuenta_seleccionada);
                this.cuentas = false;
                this.movimientos=true;

            }

            imprimiroperacion(e){
                console.log("evento capturado por el orquestador del pintaroperacion");
                console.log(e.detail);
                this.operacion = true;
                this.movimientos=false;

                this.$.interfazoperacion.dataoperacion(e.detail);
            }

            imprimirtransferencia(e){
                console.log("evento capturado por el orquestador del imprimirtransferencia");
                console.log(e.detail);
                this.$.interfaztransferencia.dataoperacion(e.detail,this.cuenta_seleccionada);
                this.transferencia = true;
                this.movimientos=false;
                this.$.interfaztransferencia.dataoperacion(e.detail,this.cuenta_seleccionada);
            }

            dataTransferencia(e) {
                console.log("evento capturado por el orquestador del dataTransferencia");
                console.log(e);
                this.$.dmtransferencia.realizar_transferencia(this.jwt,e.detail);
            }


            resultadotransaccion(e){
                console.log("evento capturado por el orquestador del resultadotransaccion");
                this.$.not_existo.datanotificacion(e.detail,"Transaccion realizada con existo");
                this.$.dmmovimientos.consultarmovimientos(this.jwt, this.cuenta_seleccionada);
                this.operacion = false;
                this.movimientos=true;
                
            }
            
            resultadotransferencia(e){
                console.log("evento capturado por el orquestador del resultadotransferencia");
                this.$.not_existo.datanotificacion(e.detail,"Transaccion realizada con existo");
                this.$.dmmovimientos.consultarmovimientos(this.jwt, this.cuenta_seleccionada);
                this.transferencia = false;
                this.mapa=false;
                this.movimientos=true;
            }
            volver_operacion(e){
                this.operacion = false;
                this.mapa=false;
                this.movimientos=true;
            }

            volver_movimientos(e){
                this.movimientos=false;
                this.mapa=false;
                this.$.dmcuentas.consultarcuentas(this.jwt);
                this.cuentas=true;
            }

            volver_transferencia(e){
                this.transferencia=false;
                this.mapa=false;
                this.movimientos=true;
            }
            gestionarerror(e) {
                console.log("evento capturado por el orquestador del gestionarerror");
                console.log(e);
                this.$.not_error.datosnotificacion(e.detail);
                this.$.ilogin.inicializardatos();
                this.$.inewuser.inicializardatos();
            }
            newcuenta(e){
                console.log("evento capturado por el orquestador del newcuenta");
                this.$.dmcrearcuenta.newcuenta(this.jwt);

            }
            resultado_newcuenta(e) {
                this.$.not_existo.datanotificacion(e.detail,"La cuenta ha sido creada");
                this.$.dmcuentas.consultarcuentas(this.jwt);
            }
            
            logout(e){
                this.jwt='';
                this.cuenta_seleccionada='';
                this.cuentas=false;
                this.registro=false;
                this.transferencia=false;
                this.movimientos=false;
                this.operacion=false;
                this.login=false;
                this.logado=false;
                this.mapa=false;
                this.principal=true;
            }
            imprimiruser(e){
                console.log("evento capturado por el orquestador del imprimiruser");
                console.log("e: "+e.detail);
                this.nombre=e.detail.user.nombre+" "+e.detail.user.apellidos;
                console.log("nombre: "+this.nombre);
                this.$.dmcuentas.consultarcuentas(this.jwt);
            }
            
            buscarmapa(e){
                console.log("evento capturado por el orquestador del buscarmapa");
                console.log(e);
                this.longitud=e.detail.longitud;
                this.latitud=e.detail.latitud;
                console.log("latitud: " + this.latitud);
                console.log("longitud: " + this.longitud);
                this.$.dmapikey.consultarapimaps(this.jwt);
            }
            
            mostrarmapa(e){
                console.log("evento capturado por el orquestador del mostrarmapa");
                console.log(e);
                this.$.imostrarmapa.pintarmapa(e.detail,this.latitud,this.longitud);
                this.mapa=true;
            }
            
            volver_user(e){
                console.log("evento capturado por el orquestador del mostrarmapa");
                console.log(e);
                this.$.ilogin.inicializardatos();
                this.registro=false;
                this.logado=false;
                this.login=true;
            }
            
            
        }

        window.customElements.define(OrquestadorApp.is, OrquestadorApp);

    </script>
</dom-module>
