<link rel="import" href="../../bower_components/polymer/polymer-element.html">



<dom-module id="interfaz-principal">
  <template>
    <style>
        

    </style>




<!-- ***************************************************************-->
    <div>
      <img src="https://s3-eu-west-1.amazonaws.com/proyectofinaltech/images/imagen_principal.jpg" width=100% height=100%>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class InterfazPrincipal extends Polymer.Element {
      static get is() { return 'interfaz-principal'; }
      static get properties() {
        return {

          }
        };
      }
    

    window.customElements.define(InterfazPrincipal.is, InterfazPrincipal);
  </script>
</dom-module>
