<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-manager-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doCuentas"
      method="GET"
      url="http://localhost:3000/apitechu/v1/users/accounts"
      content-type="application/json"
      handle-as="json"
      headers='{{headers}}'
      on-response="manageAJAXResponse"
      on-error="showError">
      </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataManagerCuentas extends Polymer.Element {
      static get is() { return 'data-manager-cuentas'; }
      static get properties() {
            return {
              headers: {
                  type: Object,
                  computed: 'getHeaders(customHeader)'
              },
              customHeader: {
                   value: ''
              }
           }
      }

      getHeaders (customHeader) {
        return {'accesstoken': customHeader}
      }

      consultarcuentas(data) {
        console.log("Datos recibidos por el data manager cuentas");
        console.log(data);
        this.customHeader=data;
        this.$.doCuentas.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Respuesta recibida");
        console.log(data.detail.response);

        this.dispatchEvent(
          new CustomEvent(
            "resultadocuentas",
             {
               "detail" : {
                 "cuentas" : data.detail.response
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent( */
      } //enviardatos(e)


      showError(e,error){
        console.log("Hubo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "gestionarerror",
             {
               "detail" : {
                 "error" : error.request.status,
                 "componente" : "dmcuentas"
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(
      }

    }

    window.customElements.define(DataManagerCuentas.is, DataManagerCuentas);
  </script>
</dom-module>
