<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-manager-registro-user">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <iron-ajax
      id="newuser"
      method="POST"
      url="http://localhost:3000/apitechu/v1/user"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataManagerRegistroUser extends Polymer.Element {
      static get is() { return 'data-manager-registro-user'; }
      static get properties() {
        return {
        };
      }

      altanewuser(data) {
        console.log("Datos recibidos por el data manager registro usuario");
        console.log(data);

        console.log("Datos del new usuario: " + JSON.stringify(data));
        this.$.newuser.body = JSON.stringify(data);
        this.$.newuser.generateRequest();
        console.log("Petición enviada");
      }


      manageAJAXResponse(data) {
        console.log("Respuesta recibida del alta del usuario");
        console.log(data.detail.response);

        this.dispatchEvent(
          new CustomEvent(
            "resultadonewregistro",
             {
               "detail" : {
                 "msg" : data.detail.response
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(*/
      } //manageAJAXResponse(e)


      showError(e,error){
        console.log("Hubo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "gestionarerror",
             {
               "detail" : {
                 "error" : error.request.status,
                 "componente" : "dmregistrouser"
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(
      }

    }

    window.customElements.define(DataManagerRegistroUser.is, DataManagerRegistroUser);
  </script>
</dom-module>
