<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-manager-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doMovimientos"
      method="GET"
      url="http://localhost:3000/apitechu/v1/users/accounts/transactions"
      content-type="application/json"
      handle-as="json"
      headers='{{headers}}'
      on-response="manageAJAXResponse"
      on-error="showError">
      </iron-ajax>
      
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataManagerMovimientos extends Polymer.Element {
      static get is() { return 'data-manager-movimientos'; }
      static get properties() {
            return {
              headers: {
                  type: Object,
                  computed: 'getHeaders(customHeader1,customHeader2)'
              },
              customHeader1: {
                   value: ''
              },
              customHeader2: {
                   value: ''
              }
           }
      }

      getHeaders (customHeader1,customHeader2) {
        return {'accesstoken': customHeader1,'iban':customHeader2}
      }

      consultarmovimientos(jwt,iban) {
        console.log("Datos recibidos por el data manager movimientos");
        console.log(iban);
        if(iban!=null) {
            this.customHeader1=jwt;
            this.customHeader2=iban;
            console.log("customHeader1: " + this.customHeader1);
            console.log("customHeader2: " + this.customHeader2);
            this.$.doMovimientos.generateRequest();
            console.log("Petición enviada");
        }
      }

      manageAJAXResponse(data) {
        console.log("Respuesta recibida");
        console.log(data.detail.response);

        this.dispatchEvent(
          new CustomEvent(
            "resultado_movimientos",
             {
               "detail" : {
                 "movimientos" : data.detail.response
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent( */
      } //enviardatos(e)


      showError(e,error){
        console.log("Hubo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "gestionarerror",
             {
               "detail" : {
                 "error" : error.request.status,
                 "componente" : "dmmovimientos"
               }
             }
          ) //  new CustomEvent
        );
      }

    }

    window.customElements.define(DataManagerMovimientos.is, DataManagerMovimientos);
  </script>
</dom-module>
