<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../../bower_components/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="../../bower_components/d2l-button-group/d2l-action-button-group.html">
<link rel="import" href="../../bower_components/vaadin-item/vaadin-item.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="interfaz-movimientos">
  <template>

    <custom-style>
      <style is="custom-style">
        #container {
          max-width: 200px;
        }

          html {
                font-size: 20px;
                font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
          }
          
          td.a {
              width: 50%
            } 
          td.b {
                
                width: 900px;
            
            } 
          
          vaadin-item.movimientos {
              min-height :75px;
              font-size : 20px;
          }
          table {
             border: 1px solid grey;
              background: lavender;
          }
          
          table.titular {
            width:  100%;
            background: white;
        }
        td.titulo {
          width: 100%;
        }
        
      vaadin-item {
          font-size : 15px;
          
      }
                    
      </style>
    </custom-style>
    <table>
        <tr>
            <td>
                <paper-icon-button src="https://s3-eu-west-1.amazonaws.com/proyectofinaltech/images/money-exchange.png" title="Cliente"></paper-icon-button>
                
            </td>
     <td class="a">     
        <vaadin-item class="movimientos">Ultimos movimientos</vaadin-item>
        </td>
        <td class="b">
    
        <vaadin-button theme="secondary" on-click=realizaringreso>Ingresar</vaadin-button>
        <vaadin-button theme="secondary" on-click=realizar_reintegro>Reintegro</vaadin-button>
        <vaadin-button theme="secondary" on-click=realizar_transferencias>Transferencias</vaadin-button>
    </td>
        </tr>
      </table>
      
      <table class="titular">
        <tr>
            <td class="titulo"><vaadin-item>Iban:  <b>[[iban]]</b></vaadin-item></td>   
        </tr>
     </table>
    
        <vaadin-grid aria-label="Movimientos" id="grid" active-item="{{activeItem}}" size="100" items="[[transaction]]">

          <vaadin-grid-column>
            <template class="header">Fecha</template>
            <template>[[item.fecha]]</template>
          </vaadin-grid-column>


          <vaadin-grid-column>
            <template class="header">Concepto</template>
            <template>[[item.descripcion]]</template>
          </vaadin-grid-column>

          <vaadin-grid-column>
            <template class="header">Importe</template>
            <template><b>[[number_format(item.importe,2)]] €</b></template>
          </vaadin-grid-column>

          <vaadin-grid-column>
            <template class="header">Saldo</template>
            <template><b>[[number_format(item.saldo,2)]] €</b></template>
          </vaadin-grid-column>
            
          
        </vaadin-grid>
      <div><vaadin-button theme="primary" on-click="volvermovimientos">Volver</vaadin-button></div>
        
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class InterfazMovimientos extends Polymer.Element {
      static get is() { return 'interfaz-movimientos'; }
      static get properties() {
        return {
          transaction : {
            type: Array
          },
          activeItem: {
            observer: '_activeItemChanged'
          },
          iban : {
            type: String
          },
          texto :{
              type:String
          },
         
          url:{
              type:String
              
          }
          
        };
      }

      pintarmovimientos(data,cuenta) {
        console.log("Metodo pintar movimientos");
        console.log("Data: "+ data.movimientos.msg);
        this.texto=data.movimientos.msg;
        this.transaction=data.movimientos;
        this.iban=cuenta;
        
      }

      _activeItemChanged(item) {
          //console.log("item: " +item.fecha);
          this.$.grid.selectedItems = item ? [item] : [];
          //var id=item.fecha;

          if((item!=[])&&(item!=null)) {
          
              this.dispatchEvent(
              new CustomEvent(
                "movimientoseleccionado",
                 {
                   "detail" : {
                     "latitud" : item.latitud,
                     "longitud" :item.longitud
                   }
                 }
                ) //  new CustomEvent
             );//  this.dispatchEvent
          }
      } //_activeItemChanged  
        
    realizaringreso(){
          console.log("Metodo realizar ingreso");
          this.dispatchEvent(
              new CustomEvent(
                "realizaringreso",
                 {
                   "detail" : {
                       tipo_operacion : "1",
                       iban : this.iban 
                   }
                 }
                ) //  new CustomEvent
             );//  this.dispatchEvent
      }
        
      realizar_reintegro(){
          console.log("Metodo realizar realizar_reintegro");
          this.dispatchEvent(
              new CustomEvent(
                "realizar_reintegro",
                 {
                   "detail" : {
                       tipo_operacion : "-1",
                       iban : this.iban
                   }
                 }
                ) //  new CustomEvent
             );//  this.dispatchEvent
      
      }
        
        realizar_transferencias(){
          console.log("Metodo realizar realizar_transferencias");
          this.dispatchEvent(
              new CustomEvent(
                "realizar_transferencias",
                 {
                   "detail" : {
                       iban : this.iban
                   }
                 }
                ) //  new CustomEvent
             );//  this.dispatchEvent
      }
    
     
        
      volvermovimientos(e){

          this.dispatchEvent(
              new CustomEvent(
                "volvermovimientos",
                 {
                   "detail" : {
                   }
                 }
              ) //  new CustomEvent

            );//  this.dispatchEvent(
      } //
        
     number_format(amount, decimals) {
           
            var number=parseInt(amount);
            var negativo;
            amount += ''; // por si pasan un numero en vez de un string
            amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

            decimals = decimals || 0; // por si la variable no fue fue pasada

            // si no es un numero o es igual a cero retorno el mismo cero
            if (isNaN(amount) || amount === 0) 
                return parseFloat(0).toFixed(decimals);

            // si es mayor o menor que cero retorno el valor formateado como numero
            amount = '' + amount.toFixed(decimals);

            var amount_parts = amount.split('.'),
                regexp = /(\d+)(\d{3})/;

            while (regexp.test(amount_parts[0]))
                amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2');
         
            if(number>0) {
                return amount_parts.join(',');
            }
            else {
                negativo="-"+amount_parts.join(',')
                return negativo
            }
      }

    }

    window.customElements.define(InterfazMovimientos.is, InterfazMovimientos);
  </script>
</dom-module>

