<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">



<dom-module id="notificacion-error">
<template>
    <style>
      :host {
        display: block;
      }
    </style>
    

    <vaadin-dialog id="dialog" no-close-on-esc no-close-on-outside-click>
      <template>
        <div>[[texto]]</div>
        <br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>
    
</template>
        

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NotificacionError extends Polymer.Element {
      static get is() { return 'notificacion-error'; }
      static get properties() {
        return {
              texto : {
                type:String
              }
        };
      }


     datosnotificacion(e){
         console.log("datosnotificacion");
         console.log(e.error);
         if(e.error=="0"){
             this.texto="El servidor no responde";
         }else {
             if(e.error=="500"){
                this.texto="Error de comunicación";
             }
             else {
                 if(e.error=="401"){
                     this.texto="Acceso no autorizado";
                 }
                    else{
                         if(e.error=="404"){
                             if(e.componente=="dmlogin"){
                                this.texto="Usuario no registrado";
                             }
                             else {
                                 if(e.componente=="dmtransferencia"){
                                    this.texto="La cuenta destino no existe";
                                 }
                             }
                         }//if(e.error=="404")
                     else {
                         if(e.error=="409"){
                             console.log("Error: " + e.error);
                             
                             if(e.componente=="dmlogin"){
                                 this.texto="Credenciales incorrectas";
                                 
                             }else{
                                 if(e.componente=="dmregistrouser"){
                                    this.texto="El email ya está registrado";
                                 }
                                 else {
                                     if((e.componente=="dmoperacion")||(e.componente=="dmtransferencia")){
                                          this.texto="No dispone de saldo";
                                      }
                                 }
                             }
                         }
                         else{
                             if(e.error=="403"){
                                 this.texto="La cuenta origen y destino es la misma";
                             }
                         }
                         
                         
                     }//else if(e.error=="401")
                 }//else if(e.error=="401")
             }//else if(e.error=="500")

         }
         this.$.dialog.opened = true;
         
     }
        
      closeDialog (){
          this.$.dialog.opened = false;
      }
        
    }

    window.customElements.define(NotificacionError.is, NotificacionError);
  </script>
</dom-module>
