<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-manager-crear-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doNewcuenta"
      method="POST"
      url="http://localhost:3000/apitechu/v1/users/accounts"
      content-type="application/json"
      handle-as="json"
      headers='{{headers}}'
      on-response="manageAJAXResponse"
      on-error="showError">

      </iron-ajax>
</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataManagerCrearCuenta extends Polymer.Element {
      static get is() { return 'data-manager-crear-cuenta'; }
      static get properties() {
        return {
          headers: {
              type: Object,
              computed: 'getHeaders(customHeader)'
          },
          customHeader: {
               value: ''
          }
        };
      }

      getHeaders (customHeader) {
        return {'accesstoken': customHeader}
      }

      newcuenta(jwt) {
        console.log("Datos recibidos por el data manager crear-cuenta");
        console.log("jwt: " + jwt);
        this.customHeader=jwt;
        var acceso ={
            "body" : jwt
        }
        this.$.doNewcuenta.body = JSON.stringify(acceso);
        this.$.doNewcuenta.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Respuesta recibida");
        console.log(data.detail.response);

        this.dispatchEvent(
          new CustomEvent(
            "resultado_crearcuenta",
             {
               "detail" : {
                 "response" : data.detail.response
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(
      } //enviardatos(e)*/


      showError(e,error){
        console.log("Hubo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "gestionarerror",
             {
               "detail" : {
                 "error" : error.request.status,
                 "componente" : "dmcrearcuenta"
               }
             }
          ) //  new CustomEvent
        );
      }

    }

    window.customElements.define(DataManagerCrearCuenta.is, DataManagerCrearCuenta);
  </script>
</dom-module>
