
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">


<dom-module id="interfaz-mostrarmapa">
  <template>
    <style>
        google-map {
            height: 600px;
        }
    </style>
    
      <!--google-map fit-to-markers api-key="AIzaSyB5P2xYlCKrHE_qNZZjrlUytPueKjDbA20">
            <google-map-marker latitude="40.47" longitude="3.70" draggable="true"></google-map-marker>
      </google-map-->
      <google-map latitude="[[latitud]]" longitude="[[longitud]]" api-key="[[apikey]]" draggable="true"  zoom="16">
        <google-map-marker latitude="[[latitud]]" longitude="[[longitud]]" title="Transaccion realizada"></google-map-marker>
      </google-map>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class InterfazMostrarmapa extends Polymer.Element {
      static get is() { return 'interfaz-mostrarmapa'; }
      static get properties() {
        return {
          longitud: {
            type: String,
            value:"0"
              
          },
          latitud: {
            type: String,
            value:"0"  
          },
          apikey:{
            type: String
          }
        };
      }

      pintarmapa(e,latitud_mapa,longitud_mapa){
        console.log("Pintar mapa");
        console.log("apikey: " +e.apikey);
        this.latitud=latitud_mapa;
        this.longitud=longitud_mapa;
        this.apikey=e.apikey;
        console.log("latitud: " +this.latitud);
        console.log("longitud: " +this.longitud);
        console.log("apikey: " +this.apikey);
        
    }
}

    window.customElements.define(InterfazMostrarmapa.is, InterfazMostrarmapa);
  </script>
</dom-module>
