<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">



<dom-module id="notificacion-existo">
<template>
    <style>
      :host {
        display: block;
      }
    </style>



    <vaadin-dialog id="dialog" no-close-on-esc no-close-on-outside-click>
      <template>
        <div>[[texto]]</div>
        <br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>

</template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class NotificacionExisto extends Polymer.Element {
      static get is() { return 'notificacion-existo'; }
      static get properties() {
        return {
              texto : {
                type:String
              }
        };
      }


     datanotificacion(e, datos){
         console.log("datosnotificacion existo");
         this.texto=datos;
         this.$.dialog.opened = true;
     }

      closeDialog (){
          this.$.dialog.opened = false;
      }

    }

    window.customElements.define(NotificacionExisto.is, NotificacionExisto);
  </script>
</dom-module>
