<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-password-field.html">
<link rel="import" href="../../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="interfaz-registro-user">
  <template>
    <style>
            :host {
                display: block;
            }

            div.a {
                position: absolute;
                width: 400px;
                height: 200px;
                left: 20px;

            }

            div.b {
                position: absolute;
                width: 200px;
                left: 295px;
                position: relative;
                padding-top: 0;

            }

            div {
                width: 100%;
                padding-top: 50px;
                padding-left: 400px;
                padding-bottom: 20px;
            }

            vaadin-text-field {
                width: 375px;
            }

            .titulo {
                min-height: 70px;
                font-size: 20px;
            }

            .principal {
                border: 1px solid grey;
                background: lavender;

            }


            td.a {
                width: 1%
            }

            td.b {

                width: 99%;

            }

        </style>
      
    <table class="principal">
        <tr>
            <td class="a">     
                <paper-icon-button src="https://s3-eu-west-1.amazonaws.com/proyectofinaltech/images/ico_user.png"></paper-icon-button>
            </td> 
                <td class="b"><vaadin-item class="titulo">Alta de nuevo cliente</vaadin-item>
            </td>
        </tr>
    </table>
      
    <div>
        <table>
            <tr>
                <td>
                    <vaadin-item>Nombre:</vaadin-item>
                </td>
                <td>
                    <vaadin-text-field prevent-invalid-input pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s]*" value={{nombre::input}} required error-message="Campo Obligatorio"></vaadin-text-field>
                </td>
            </tr>
            <tr>
                <td>
                    <vaadin-item>Apellidos:</vaadin-item>
                </td>
                <td>
                    <vaadin-text-field prevent-invalid-input pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s]*" value={{apellidos::input}} required error-message="Campo Obligatorio"></vaadin-text-field>
                </td>

            </tr>
            <tr>
                <td>
                    <vaadin-item>email:</vaadin-item>
                </td>
                <td>
                    <vaadin-text-field prevent-invalid-input pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ@.\s]*" value={{email::input}} required error-message="Campo Obligatorio"></vaadin-text-field>
                </td>
            </tr>

            <tr>
                <td>
                    <vaadin-item>Password:</vaadin-item>
                </td>

                <td>
                    <vaadin-password-field value={{password::input}} prevent-invalid-input pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s]*" required error-message="Campo Obligatorio"></vaadin-password-field>
                </td>
            </tr>
            <tr>
                <td>
                    <vaadin-item>Direccion:</vaadin-item>
                </td>

                <td>
                    <vaadin-text-field prevent-invalid-input pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s]*" value={{direccion::input}} required error-message="Campo Obligatorio"></vaadin-text-field>
                </td>

            </tr>

            <tr>
                <td>
                    <vaadin-item>Ciudad:</vaadin-item>
                </td>
                <td>
                    <vaadin-text-field prevent-invalid-input pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s]*" value={{ciudad::input}} required error-message="Campo Obligatorio"></vaadin-text-field>
                </td>

                <tr>
                    <td>
                        <vaadin-item>Provincia:</vaadin-item>
                    </td>
                    <td>
                        <vaadin-text-field prevent-invalid-input pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s]*" value={{provincia::input}} required error-message="Campo Obligatorio"></vaadin-text-field>
                    </td>

                </tr>

                <tr>
                    <td>
                        <vaadin-item>Pais:</vaadin-item>
                    </td>
                    <td>
                        <vaadin-text-field prevent-invalid-input pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s]*" value={{pais::input}} required error-message="Campo Obligatorio"></vaadin-text-field>
                    </td>
                </tr>
        </table>
    </div>
      
    <div class="b">
        <vaadin-button theme="primary" on-click="volver_newusuario">Volver</vaadin-button>
        <vaadin-button theme="primary" on-click="enviarusuario">Registrar</vaadin-button>

    </div>
      
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class InterfazRegistroUser extends Polymer.Element {
      static get is() { return 'interfaz-registro-user'; }
      static get properties() {
        return {
          nombre : {
              type:String
          },
          apellidos : {
              type:String
          },
          email : {
              type:String
          },
          password : {
              type:String
          },
          direccion : {
              type:String
          },
          ciudad : {
              type:String
          },
          provincia : {
              type:String
          },
          pais : {
              type:String
          }
          
        }
      }
        
      enviarusuario(e){
        console.log("Pulsando el boton enviar datos usuarios");
        console.log(e);
        this.dispatchEvent(
          new CustomEvent(
            "enviarusuario",
             {
               "detail" : {
                 "datauser" : {
                     nombre : this.nombre,
                     apellidos : this.apellidos,
                     email: this.email,
                     password : this.password,
                     direccion:this.direccion,
                     ciudad:this.ciudad,
                     provincia:this.provincia,
                     pais:this.pais
                 }
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(*/
    }
        
    inicializardatos(){
        //objetoRegistro = this;
        console.log("Inicializar datos usuarios");
        this.nombre='';
        this.apellidos='';
        this.email='';
        this.password='';
        this.direccion='';
        this.ciudad='';
        this.provincia='';
        this.pais='';
    }
    
    volver_newusuario(e){
        console.log("Pulsando el boton volver newusuario");
        this.dispatchEvent(
          new CustomEvent(
            "volver_newusuario",
             {
               "detail" : {
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(*/
        
    }
        
      
  }//class

    window.customElements.define(InterfazRegistroUser.is, InterfazRegistroUser);
  </script>
</dom-module>
